body{
    /* 백그라운드 컬러 설정 */
    background-color:bisque;
    /* 백그라운드 컬러를 수평으로 반복하겠다? */
    background-repeat: repeat-x;
}
div {
    display: inline-block;
}
div.product{
    width: 200px;
}
div.product>ul{
    /* product명을 가진 div의 하위 ul 태그들 */
    /* ul요소에 동그라미점 삭제 */
    list-style-type: none;
    padding-left: 0px;
}
div.product>ul>li>img{
    /* 이미지 태그 크기 조절 */
    width: 90%;
}
div.product>ul>li>span{
    width: 90%;
    display:inline-block;
    text-align: center;
    color: white;
    background-color: seagreen;
}
.productlist>h3 {
    width: 200px;
    margin: 10px auto;
    text-align: center;
    background-color: yellow;
}